<div class="container-fluid g-0">
  <app-header></app-header>

  <main>
    <div class="toolbar">
      <div class="add-employee">
        <button
          type="button"
          class="btn btn-outline-success btn-lg"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          #addEmployeeButton
        >
          Add Employee
        </button>
      </div>
      <div class="search-employees">
        <input
          type="search"
          class="form-control"
          placeholder="Search employees"
          (input)="searchEmployee(searchInput.value)"
          #searchInput
        />
      </div>
    </div>
    <div class="container mt-3">
      <span> Total Number of employees: {{ employees.length }} </span>
    </div>
    <div class="employees">
      <div class="row mt-5" *ngIf="employees.length == 0">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic"
            >No Employees!
          </span>
        </div>
      </div>
      <!-- Show records -->
      <div
        class="row mt-4"
        *ngFor="let employee of employeesToDisplay; let ei = index"
      >
        <div class="col">
          <app-employee
            [employee]="employee"
            (onRemove)="deleteEmployee($event)"
            (onEdit)="editEmployee($event)"
          >
          </app-employee>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                formControlName="fullname"
                placeholder="Enter Full Name"
              />
              <div style="color: red;"
                *ngIf=" FullName.touched || FullName.dirty ">
                <div *ngIf="FullName.errors?.['required']">
                  Name is required
                </div>
                <div *ngIf="FullName.errors?.['minLength']">
                  Min Length is 3
                </div>
                <div *ngIf="FullName.errors?.['maxLength']">
                  Min Length is 30
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <select class="form-control" formControlName="location">
                <option value="default" selected required>
                  Choose your location
                </option>
                <option
                  *ngFor="let option of locationOptions; let i = index"
                  value="{{ i }}"
                >
                  {{ option }}
                </option>
              </select>
              <div style="color: red;"
                *ngIf=" Location.touched || Location.dirty ">
                <div *ngIf="Location.errors?.['required']">
                  Location is required
                </div>
                
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter Email id"
              />
              <div style="color: red;"
                *ngIf=" Email.touched || Email.dirty ">
                <div *ngIf="Email.errors?.['required']">
                  Email is required
                </div>
                
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input
                type="number"
                class="form-control"
                formControlName="mobile"
                placeholder="Enter Mobile number"
              />
              <div style="color: red;"
                *ngIf=" Mobile.touched || Mobile.dirty ">
                <div *ngIf="Mobile.errors?.['required']">
                  Mobile number is required
                </div>
                
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="addEmployee()"
        >
          Add Employee
        </button>
      </div>
    </div>
  </div>
</div>
